<%= favicon_link_tag 'favicon.ico' %>

<div class="jumbotron">
	<div class="container" align="center">
		<h1>Welcome to Emitt</h1>
		<p>Discover your next Podcast here!</p>
	</div>
</div>

<div class="container"  align="center" id="epicbg">
       <div class="container" >
       	<img class="img-responsive" alt="Brand"  src="Emitt.png">	
       </div> 
 <br>

	<form class="navbar-form navbar-center" role="search">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Search Podcasts">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<br>

<div class="container-fluid" id="features">
	<div class="row">
			<div class="col-md-4" id="listcard">
				<h2>Play!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>
			<div class="col-md-4" id="listcard">
				<h2>Discover!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>
		</div>

	<div class="row">
			<div class="col-md-4" id="listcard">
				<h2>Sync!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>
			<div class="col-md-4" id="listcard">
				<h2>Engage!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>
		</div>
</div>
<br>

<div class="container" id="pitch" align="center">
		<button type="button" class="btn btn-default">Sign up with Email</button>

		<button type="button" class="btn btn-primary">Facebook</button>

		<button type="button" class="btn btn-info">Twitter</button>

		<button type="button" class="btn btn-danger">Google</button>
</div>

