<%= favicon_link_tag 'favicon.ico' %>

<div class="searchBar-1">
	
<form class="navbar-form navbar-center" role="search">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="See if your favorite Podcast is already here">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	  
</div>

<div class="jumbotron">
	<div class="container" align="center">
		<h1>Welcome to Emitt</h1>
		<p>Discover your next Podcast here!</p>
	</div>
</div>

<div class="container" align="center">
        <img class="img-responsive" alt="Brand"  src="Emitt.png">	
 <br>
 <br>
	<form class="navbar-form navbar-center" role="search">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="See if your favorite Podcast is already here">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>

</div>



