<%= favicon_link_tag 'favicon.ico' %>
<header>
  <nav class="emitt-navbar">
      <div class="nav-welcome">
          <i class="fa fa-home"></i>
              <a href="welcome"> Emitt</a>
      </div>
      <div >
               <a class="nav-links"href="signup">Sign Up</a>
      </div>
      <div >
               <a class="nav-links"href="login">Log In</a>

      </div>
  </nav>
</header>

<br>

<div class="container" align="center" >
	<div >
		<img src="Emitt.png">
	</div>
	<div >
		<h1>Welcome to Emitt</h1>
		<p>Discover your next</p>
		<p>Favorite Podcast Here!</p>
	</div>

<br>
<div class="divider"></div>
<br>

  <div class="row" >
    <div class="input-field col s8 offset-s2">
      <input value="Name" id="podcast" type="text" class="validate">
      	<label class="active" for="podcast">Search for your favorite Podcast here!</label>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="mdi-content-send right"> </i>
  	</button>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#test1">Listeners</a></li>
        <li class="tab col s3"><a href="#test2">Emitters</a></li>
        <li class="tab col s3"><a href="#test3">Developers</a></li>
<!--         <li class="tab col s3"><a href="#test4">Sponsors</a></li> -->
      </ul>
    </div>

    <!-- Listenrs -->
    <div id="test1" class="col s12">
                  <br>
                    <div class="container">
                        <div class="row">
                          <div class="col s6">
                              <div class="card panel red lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Play!</span>
                    					<ul>
                    					  <li>Basic Playback </li>
                    					  <li>Playlists Support</li>
                    					  <li>Support for Audio and Video</li>
                    					</ul>
                                </div>
                              </div>
                          </div>

                          <div class="col s6">
                              <div class="card panel red lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Sync!</span>
                    					<ul>
                    					  <li>Same Subscriptions</li>
                    					  <li>Same Playlists*</li>
                    					  <li>Any App, Any Platform</li>
                    					</ul>
                                </div>
                              </div>
                          </div>

                          <div class="col s6">
                              <div class="card panel red lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Discover!</span>
                    					<ul>
                    					  <li>Search by Title</li>
                    					  <li>By Category</li>
                    					  <li>And by Popularity</li>
                    					</ul>
                                </div>
                              </div>
                          </div>

                          <div class="col s6">
                              <div class="card panel red lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Engage!</span>
                    					<ul>
                    					  <li>Review</li>
                    					  <li>Rate</li>
                    					  <li>Share</li>
                    					</ul>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
    </div>

<!-- Emitters -->
    <div id="test2" class="col s12">
                    <br>
                    <div class="container">
                        <div class="row">
                          <div class="col s6">
                              <div class="card panel blue lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Emitt!</span>
                              <ul>
                                <li>Episode Hosting </li>
                                <li>Access on Any App, Any Platform</li>
                                <li>Support for Audio and Video</li>
                              </ul>
                                </div>
                              </div>
                          </div>

                          <div class="col s6">
                              <div class="card panel blue lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Engage!</span>
                              <ul>
                                <li>Respond to Reviews</li>
                                <li>Advertise on Homepage</li>
                                <li>Integrate with Social Media</li>
                              </ul>
                                </div>
                              </div>
                          </div>

                          <div class="col s6">
                              <div class="card panel blue lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Capitalize!</span>
                              <ul>
                                <li>Meet Potential Sponsors</li>
                                <li>Fit the Data to the Product</li>
                                <li>And by Popularity</li>
                              </ul>
                                </div>
                              </div>
                          </div>

                          <div class="col s6">
                              <div class="card panel blue lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Analyze!</span>
                              <ul>
                                <li>Lisner Demographics</li>
                                <li>Lisning Stats</li>
                                <li>Share Stats</li>
                              </ul>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>


    </div>

<!-- Developers-->
    <div id="test3" class="col s12">
                    <br>
                    <div class="container">
                        <div class="row">
                          <div class="col s6">
                              <div class="card panel green lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Integrate!</span>
                              <ul>
                                <li>Sync API</li>
                                <li>Search API</li>
                              </ul>
                                </div>
                              </div>
                          </div>

                          <div class="col s6">
                              <div class="card panel green lighten-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Benefits!</span>
                              <ul>
                                <li>You Make the App</li>
                                <li>We Handle the Legwork</li>
                              </ul>
                                </div>
                              </div>
                          </div>

                          

                          
                        </div>
                    </div>
    </div>


<!-- Sponsors -->
<!--     <div id="test4" class="col s12">
                    <br>
                    <div class="container">
                        <div class="row">
                          <div class="col s6">
                              <div class="card panel deep-purple accent-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Sponsor!</span>
                              <ul>
                                <li>Find the Right Fit</li>
                                <li>Create Campaigns</li>
                                <li>Manage Relationships</li>
                              </ul>
                                </div>
                              </div>
                          </div>

                          <div class="col s6">
                              <div class="card panel deep-purple accent-1">
                                <div class="card-content white-text">
                                  <span class="card-title">Reach!</span>
                              <ul>
                                <li>The Right Audience</li>
                                <li>Easy Sponsor Integration</li>
                                <li>Any App, Any Platform</li>
                              </ul>
                                </div>
                              </div>
                          </div> -->

                          

                         
                        </div>
                    </div>
    </div>
  </div>
</div>
<br>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Emitt</h5>
                <p class="grey-text text-lighten-4">Find your next favorite Podcast here!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Learn More</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">For Lisners</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">For Emitters</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">For Developers</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Follow Us!</a>
            </div>
          </div>
        </footer>
