<%= favicon_link_tag 'favicon.ico' %>

<div class="container" id="test">
	<div class="header" id="landing">
		<h1>Welcome to Emitt</h1>
		<p>Discover your next</p>
		<p>Favorite Podcast Here!</p>
	</div>
	<div class="header" id="credentials">
		<p>Sign Up</p>
		<p>Log In</p>
	</div>
</div>

<br>

<div class="welcome">
	<img src="Emitt.png">
</div>

 <br>
	
<div class="search">
	<form>
        <input type="text" placeholder="Search..." required>
        <input type="button" value="Search">
	</form>
</div>

<br>





			<div class="listcard">
				<h2>Lisen!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>
			<div class="listcard">
				<h2>Discover!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>


			<div class="listcard">
				<h2>Sync!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>

			<div class="listcard">
				<h2>Engage!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>
		
<p>--------------------------</p>

			<div class="listcard">
				<h2>Emitt!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>

			<div class="listcard">
				<h2>Engage!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>

			<div class="listcard">
				<h2>Reach!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>

			<div class="listcard">
				<h2>Analyze!</h2>
				<p>Cool thing 1</p>
				<p>Cool thing 2</p>
				<p>Cool thing 3</p>
				<p>cool thing 4</p>
			</div>



<br>
<table class="footer">
	<tr>Copyright 2015</tr>
	<tr>API</tr>
	<tr>FAQ</tr>
	<tr>About</tr>
	<tr>Blog</tr>
</table>
