// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//SASS Variables

$material-red: #E57373; 


//SASS Mixins



//Welcoming Navig Bar

.emitt-navbar {
	background-color: $material-red;
	font-size: 175%;
	margin-top: -1%;
	padding: 1%;
	padding-left: 2%;
	height: 2%;
	display: inline-block;
	vertical-align: center;
	color: white;
}




.nav-welcome {
	float: left;
	padding: 0%;

}

.nav-links, {
	float: right;
	padding-right: 1%;

}


 .nav-links, a:hover {
	background-color: #EF9A9A;
}

//Hello

.search {


}

.features {

}

.listcard {


}

.footer {



}